<h2 class="page-header">New book</h2>
<form action="/books/new" method="POST" <%/*enctype="multipart/form-data"*/%>>
    <%- include("./_form_fields") %>

    <div class="form-row form-row-end btn-row">
        <a href="/books" class="btn btn-danger">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>