:root {
    --form-label-font-size: 1.2rem;
}

.form-row {
    display: flex;
    margin-bottom: .5rem;
}

.form-row-end {
    justify-content: flex-end;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 2rem;
    &:first-child {    
        margin-left: 0;
    }
    > label {
        font-size: var(--form-label-font-size);
        margin: 0 .25rem .25rem 0;
    }
    input, select, textarea {
        background: $color-form-input-background;
        border: 1px solid $color-form-input-border;
        border-radius: .25rem;
        color: $color-form-input-text;
        height: 2rem;
        font-family: 'Gotham Rounded';
        font-weight: normal;
        padding: .25rem .5rem;
        outline: none;
        &:focus {
            border-color: $color-form-input-border-light;
        }
    }
    option {
        background: black;
        border: none;
    }
    textarea {
        height: 100%;
        resize: none;
    }
}

.form-item-no-grow {
    flex-grow: 0;
}

.filepond--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}

.filepond--panel-root {
    background: $color-form-input-background;
    border: 1px solid $color-form-input-border;
    border-radius: .25rem;
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}

.filepond--drop-label {
    color: $color-form-input-text;
    font-size: inherit;
}